.list {
    flex-direction: column;
    display: flex;
    list-style: none;
    gap: 10px;
    color: #505050;
    text-shadow: 0.1em 0.1em 0.2em #2c2b2b4d;
    padding: 10px;
}

.list .a1 {
    color: #6290c5;
}

.list .a2 {
    color: #ec5567;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #696969;
    font-family: ABeeZee;
}

.a3:active{
    color: #ec5567;
}

.a3 {
    color:  #ABABAB;
    font-size: 50px;
    text-decoration: none;
    padding: 1vw;
}

.but {
    font-size: 18px;
    color: #FF1430; /* Cor do texto no estado padrão */
    background-color: transparent; /* Fundo transparente no estado padrão */
    border: 2px solid #FF1430; /* Borda vermelha no estado padrão */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.but:hover {  
    color: #FFFFFF; /* Cor do texto quando o botão é focado ou clicado */
    background-color: #FF1430; /* Cor de fundo quando o botão é focado ou clicado */
    
  
}

a{
    text-decoration: none;
    color: #FF1430;
   
}
a:hover{
    color: #FFFFFF;
}

.butespaco {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
@media screen and (max-width:768px) {

    .list {
        display: flex;
        list-style: none;
        gap: 10px;
        color: #505050;
        text-shadow: 0.1em 0.1em 0.2em #2c2b2b4d;

    }
    
    .list .a1 {
        color: #6290c5;
    }
    
    .list .a2 {
        color: #ec5567;
    }
    
    h1 {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #696969;
        font-family: ABeeZee;
    }
    
    .a3:active{
        color: #ec5567;
    }
    
    .a3 {
        color:  #ABABAB;
        font-size: 50px;
        text-decoration: none;
    }





}