@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Zen+Dots&display=swap');

body {
    background-color: #F5F5F5;
}

.container-header {
    display: flex; 
    align-items: center;
    background-color: #3C3C3C;
    width: 98.9vw;
    height: 5vw;
    margin-top: -0.5vw;
    margin-left: -0.5vw;
   
}
.container-header .logo{
   font-family: "Zen Dots", sans-serif;
   color: #FF1430;
   font-size: 40px;
   margin-left: 20px;
}

img {
    width: 98.9vw;
    margin-left: -0.5vw;
}

.container-subinfo {
    display: flex; 
    align-items: center;   
    justify-content: center;
    max-width: 1000px; 
    margin: auto;
}

.container-subinfo .subinfo {
    color: #FF1430;
    font-family: "ABeeZee", sans-serif;
    font-size: 28px;
}

.container-header .link-cadastro {
    font-family: "ABeeZee", sans-serif;
    text-decoration: none;
    margin-left: 80vw;
    color: #FF1430;
    font-size: 20px;
}

.container-header .link-cadastro:active {
    color: #F5F5F5;
}

.container-subinfo .img {
    width: 150px;
    margin:auto;
    padding-left: 100px;
}

.container-subinfo .vid {
    width: 190px;
    margin:auto;
    padding-left: 100px;

}