@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Zen+Dots&display=swap');

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cont-web{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
    "header"
    "section";
}

header{
    grid-area: header;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3C3C3C;
    width: 100%;
    height: 10vh;
}

nav .logo{
   font-family: "Zen Dots", sans-serif;
   color: #FF1430;
   font-size: 40px;
   margin-left: 20px;
}

.cad-button{
    margin: 0 20px 0 0;
}

.link-cadastro {
    font-family: "ABeeZee", sans-serif;
    text-decoration: none;
    color: #FF1430;
    font-size: 20px;
}

nav .link-cadastro:active {
    color: #F5F5F5;
}

section {
    grid-area: section;
    display: flex; 
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    max-width: 100vw; 
}

.imgscar {
    width: 100%;
    height: auto;
}

.imgscar img{
    width: 98.9vw;
    aspect-ratio: 10/3;
    object-fit: cover;
}
.container-subinfo{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lado-d, .lado-e{
    width: 50%;
    gap: 10px;
}

.lado-e{
    padding: 0 0 0 3vw;
}

.lado-d{
    padding: 0 3vw 0 0;
}



.container-subinfo .subinfo {
    color: #FF1430;
    font-family: "ABeeZee", sans-serif;
    font-size: 28px;
}

.container-subinfo .img {
    width: 150px;
    margin: auto;
    padding-left: 100px;
}

.container-subinfo .vid {
    width: 190px;
    margin:auto;
    padding-left: 100px;

}

@media screen and (max-width: 768px) {
    nav {
        width:382px;
        height: 11.1vh;
        margin-left: -7px;
        margin-top: -7px;
    }

.imgscar img {
    height:150px;
    width: 100vw;
}

    nav .logo {
        font-size:25px;
        margin-right: 20px;
        margin-top:10px;
        letter-spacing: 10px;
    }

    section .subinfo {
        font-size: 3vw;
    }

    nav .link-cadastro {
        font-size: 4vw;
        margin-right: 3vw;
        margin-top: 10px;
    }

    .cad-button {
        font-size: 4vw;
        margin-right: 3vw;
        margin-top: 10px;
    }

    section .img,
    section .vid {
        width: 30%; 
        max-width: 100px; 
        margin: 0 1vw; 
    }

    .container-subinfo .subinfo{
      font-size: 13px;
      margin-top: -70px;
      width: 166px;
    }
    .container-subinfo .img{
        margin-top: -100px;
        width: 60px;
        height: 60px;
        margin-bottom: 9px;

    }
    .container-subinfo .vid{
        margin-top: -100px;
        width: 80px;
        height: 80px;
        margin-right: 100px;
        padding-left: 0px;

    }
    .lado-e{
        margin-bottom: 50px;
    }
    .lado-d{
        margin-bottom: 70px;
    }
}