@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Zen+Dots&display=swap');

body {
    background: linear-gradient(#FFFFF9, #D7D7D7, #D6D6D6, #CFCFCF, #CECECE);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flow-root;
}   

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

aside {
    background: linear-gradient(#DFDFDF,#C6C6C6, #A7A7A7);
    width: 15%;
    height: 100vh;
    border-right: 4px solid #ABABAB;
    margin-left: 0;
    float: left;
}

.logo {
    font-family: "Zen Dots", sans-serif;
    color: #FF1430;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 35px;
}

.links {
    flex: auto;
    line-height: 50px;
    font-family: "ABeeZee", sans-serif;
    background: transparent;
    border: none;
    border-bottom: 2px solid #A7A7A7;
    text-align: left;
    font-size: 17px;
}

.links a {
    margin-left: 10px;
}

.links2 {
    flex: auto;
    line-height: 50px;
    font-family: "ABeeZee", sans-serif;
    background: transparent;
    border: none;
    border-bottom: 2px solid #A7A7A7;
    text-align: left;
    font-size: 17px;
}

.links2 a {
    color: #FF1430;
    text-decoration: none;
    margin-left: 10px;
}
.links2:hover a {
    text-decoration: underline;
    margin-left: 10px;
}

.search-box {
    margin-left: 25px;
    padding: 10px 20px 10px 5px; 
    border-radius: 2px;
    border: none;
    position: relative; 
}

.search-container {
    align-items: center;
    margin-top: 50px;
    position: relative; 
}

.search-container img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.links:hover {
    background-color: #ABABAB;
    flex: 1;
}

main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-main {
    display: inline;
    text-align: center;
    justify-content: center;
}

.titulo {
    font-size: 55px;
    color: #ABABAB;
    font-style: italic;
    font-family: "ABeeZee", sans-serif;
}

.subtitulo {
    font-size: 35px;
    color: #ABABAB;
    margin-top: -40px;
    font-style: italic;
    font-family: "ABeeZee", sans-serif;
}

.ambiente p {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 25px;
    color: #696969;
}
@media screen and (max-width:768px) {

    .titulo {
        font-size: 16px;
        margin-bottom: 40px;
        margin-left: 35px;
    }
    .subtitulo {      
        font-size: 16px;
        margin-bottom: 40px;
        margin-left: 35px;
    }

    .logout .links a {
        font-size: 15px;
    }

    main {
        width:250px;
        float: right;
        position:absolute;
        height: 300px;
        margin-left: 118px;
        margin-top: 200px;
    }



    aside {
        width:158px;
    }
    .logo {
        font-size: 28px;
        margin-left: 10px;
    }
    .search-box {
        width: 100px;
        height:20px;
        margin-left: 18px;
    }
    .ambiente p {
        height: 20px;
        width:20px;
        margin-left: 15px;
        margin-top: 45px;
        font-size: 17px;
    }
    .ambiente {
        top: 50px;
        margin-bottom: 50px;
    }
 
    ul {
        font-weight: 300px;
        margin-top:-40px;
    }
    ul li .links {
     flex: auto;
     line-height: 50px;
     font-family: "ABeeZee", sans-serif;
     background: transparent;
     border: none;
     border-bottom: 2px solid #A7A7A7;
     text-align: left;
     font-size: 17px;
     padding-block: 0px;
    }
        
    ul li .links a {
        text-decoration: none;
        color: #333;
        font-size: 12px; 
        margin-right: 20px;
        margin-left: 0px;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
    }
    
}