.listinhas{
    list-style: none;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
    display: flex;
}

.listinhas a {
    color: #505050;
    text-shadow: 0.4px 0.4px 0.9px rgba(0, 0, 0, 0.5);

}

h1 {
    text-align: center;
    color: #696969;
    padding-bottom: 30px;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.listinhas a:active{
    color: #FF1430;
}



